.main-BG {
    background-image: url(../images/MainBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.sectionBG {
    background-image: url(../images/SectionBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background: rgba(19, 19, 21, 0.5019607843);
    padding: 16px 0px;
}

@media screen and (max-width: 768px) {
    .header {
        background: none;
    }
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-size: 12px;
}

.header__link {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__link-item {
    color: #FFFFFF;
    transition: 0.5s;
}

.header__link-item:hover {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .header__link {
        display: none;
    }
}

.header__phone {
    color: #FFFFFF;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .header__phone {
        display: none;
    }
}

.header__hamburger {
    display: none;
}

@media screen and (max-width: 768px) {
    .header__hamburger {
        display: block;
    }
}

.main {
    padding: 80px 0 32px 0;
}

.main__inform {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .main__inform-preview {
        height: 483px;
        width: 704px;
    }
}

@media screen and (max-width: 384px) {
    .main__inform-preview {
        height: 261px;
        width: 380px;
        margin-left: -40px;
    }
}

.main__inform-line {
    position: relative;
    top: -65px;
    width: 317px;
    border-top: 1px solid #ffffff;
}

@media screen and (max-width: 768px) {
    .main__inform-line {
        width: 59px;
        right: 0;
    }
}

@media screen and (max-width: 384px) {
    .main__inform-line {
        width: 59px;
        top: 90px;
    }
}

.main__inform-wrap {
    display: block;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .main__inform-wrap {
        margin-left: -20px;
    }
}

.main__inform-title {
    font-weight: 300;
    letter-spacing: 0.2em;
    font-size: 22px;
}

@media screen and (max-width: 768px) {
    .main__inform-title {
        font-size: 16px;
    }
}

@media screen and (max-width: 384px) {
    .main__inform-title {
        font-size: 9px;
    }
}

.main__inform-subtitle {
    font-size: 104px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .main__inform-subtitle {
        font-size: 75px;
    }
}

@media screen and (max-width: 384px) {
    .main__inform-subtitle {
        font-size: 43px;
    }
}

.main__description {
    width: 199px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 68px;
}

@media screen and (max-width: 768px) {
    .main__description {
        margin-left: auto;
        font-size: 24px;
    }
}

@media screen and (max-width: 384px) {
    .main__description {
        font-size: 24px;
    }
}

.main__data {
    text-align: right;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .main__data {
        text-align: center;
    }
}

@media screen and (max-width: 384px) {
    .main__data {
        text-align: center;
    }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

.about {
    position: relative;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    padding: 111px 0 32px 0;
    background: rgba(174, 156, 156, 0.2509803922);
    color: #ffffff;
    /*   background-image: url(..//images/Rectangle.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

@media screen and (max-width: 768px) {
    .about {
        padding: 81px 0 64px 0;
        /*     background-image: url(..//images/Rectangle1.jpg); */
    }
}

@media screen and (max-width: 384px) {
    .about {
        padding: 86px 0 64px 0;
        /*   background-image: url(..//images/Rectangle2.jpg); */
    }
}

.about__icon {
    position: absolute;
    bottom: 74px;
    left: 45px;
    filter: blur(5px);
}

@media screen and (max-width: 768px) {
    .about__icon {
        bottom: 131px;
        left: auto;
    }
}

.about__headline {
    display: flex;
    align-items: center;
    gap: 45px;
    margin-bottom: 15px;
}

@media screen and (max-width: 384px) {
    .about__headline {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 32px;
    }
}

.about__headline-logo {
    height: 90px;
}

@media screen and (max-width: 768px) {
    .about__headline-logo {
        height: 48px;
    }
}

@media screen and (max-width: 384px) {
    .about__headline-logo {
        display: none;
    }
}

.about__headline-line {
    height: 1px;
    width: 223px;
    background-color: #ffffff;
    /*       border-top: 1px solid #ffffff; */
}

@media screen and (max-width: 768px) {
    .about__headline-line {
        width: 160px;
    }
}

@media screen and (max-width: 384px) {
    .about__headline-line {
        width: 172px;
    }
}

.about__headline-title {
    font-size: 48px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 0.2em;
}

@media screen and (max-width: 768px) {
    .about__headline-title {
        font-size: 28px;
    }
}

@media screen and (max-width: 384px) {
    .about__headline-title {
        align-items: center;
        order: -1;
    }
}

.about__content {
    position: relative;
    z-index: 2;
    max-width: 594px;
    margin-left: auto;
}

@media screen and (max-width: 768px) {
    .about__content {
        max-width: 519px;
    }
}

@media screen and (max-width: 384px) {
    .about__content {
        min-width: 352px;
        text-align: center;
    }
}

.about__content-item {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 32px;
    line-height: 1.2;
}

@media screen and (max-width: 768px) {
    .about__content-item {
        font-size: 18px;
        margin-bottom: 24px;
    }
}

.about__content-item:first-child {
    font-size: 30px;
    line-height: 1.4;
}

@media screen and (max-width: 768px) {
    .about__content-item:first-child {
        font-size: 24px;
    }
}

.about__content-item:last-child {
    margin-top: 68px;
    text-align: right;
}

@media screen and (max-width: 768px) {
    .about__content-item:last-child {
        margin-top: 24px;
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    .about__content-item:last-child {
        display: none;
    }
}

.advantages {
    padding: 128px 0 64px 0;
}

@media screen and (max-width: 768px) {
    .advantages {
        padding: 86px 0 64px 0;
    }
}

@media screen and (max-width: 384px) {
    .advantages {
        padding: 86px 0 48px 0;
    }
}

.advantages__headline {
    display: flex;
    align-items: center;
    gap: 48px;
}

@media screen and (max-width: 768px) {
    .advantages__headline {
        gap: 24px;
    }
}

@media screen and (max-width: 384px) {
    .advantages__headline {
        flex-direction: column;
    }
}

.advantages__headline-caption {
    font-size: 26px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .advantages__headline-caption {
        font-size: 21px;
    }
}

@media screen and (max-width: 384px) {
    .advantages__headline-caption {
        align-items: center;
    }
}

.advantages__headline-line {
    position: relative;
    width: 745px;
    border-top: 1px solid #ffffff;
}

@media screen and (max-width: 768px) {
    .advantages__headline-line {
        width: 392px;
        margin-left: auto;
    }
}

@media screen and (max-width: 384px) {
    .advantages__headline-line {
        width: 172px;
        margin: auto;
    }
}

.advantages__row {
    color: #ffffff;
    display: flex;
    align-items: first baseline;
    flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
    .advantages__row {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 384px) {
    .advantages__row {
        flex-direction: column;
        text-align: center;
    }
}

.advantages__row-coll {
    padding-top: 68px;
}

@media screen and (max-width: 768px) {
    .advantages__row-coll {
        padding-top: 48px;
        width: 344px;
    }
}

@media screen and (max-width: 384px) {
    .advantages__row-coll {
        padding-top: 24px;
    }
}

.advantages__row-title {
    font-size: 32px;
    padding-bottom: 70px;
}

@media screen and (max-width: 768px) {
    .advantages__row-title {
        font-size: 24px;
        padding-bottom: 24px;
    }
}

.advantages__row-text {
    font-size: 20px;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .advantages__row-text {
        font-size: 18px;
    }
}

.integration {
    padding: 137px 0 128px 0;
    background-color: #ffffff;
}

@media screen and (max-width: 768px) {
    .integration {
        padding: 86px 0 81px 0;
    }
}

@media screen and (max-width: 384px) {
    .integration {
        padding: 86px 0 48px 0;
    }
}

.integration__headline {
    display: flex;
    align-items: center;
    gap: 48px;
}

@media screen and (max-width: 768px) {
    .integration__headline {
        gap: 24px;
    }
}

@media screen and (max-width: 384px) {
    .integration__headline {
        flex-direction: column;
    }
}

.integration__headline-line {
    position: relative;
    width: 657px;
    border-top: 1px solid #000000;
}

@media screen and (max-width: 768px) {
    .integration__headline-line {
        width: 323px;
    }
}

@media screen and (max-width: 384px) {
    .integration__headline-line {
        width: 172px;
        margin: auto;
    }
}

.integration__headline-caption {
    font-size: 26px;
    font-weight: 300;
    color: #000000;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .integration__headline-caption {
        font-size: 21px;
    }
}

@media screen and (max-width: 384px) {
    .integration__headline-caption {
        text-align: center;
        order: -1;
    }
}

.integration__service {
    display: flex;
    padding-top: 68px;
    gap: 12px;
}

@media screen and (max-width: 768px) {
    .integration__service {
        padding-top: 48px;
        gap: 21px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media screen and (max-width: 384px) {
    .integration__service {
        gap: 8px;
    }
}

@media screen and (max-width: 384px) {
    .integration__service-logo {
        height: 100px;
        width: 172px;
    }
}

.teams {
    padding: 128px 0 128px 0;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

@media screen and (max-width: 768px) {
    .teams {
        padding: 86px 0 64px 0;
    }
}

@media screen and (max-width: 384px) {
    .teams {
        padding: 86px 0 48px 0;
    }
}

.teams__headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 384px) {
    .teams__headline {
        flex-direction: column;
        gap: 48px;
    }
}

.teams__headline-caption {
    font-size: 26px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .teams__headline-caption {
        font-size: 22px;
    }
}

@media screen and (max-width: 384px) {
    .teams__headline-caption {
        align-items: center;
        order: -1;
    }
}

.teams__headline-line {
    position: relative;
    width: 745px;
    border-top: 1px solid #ffffff;
}

@media screen and (max-width: 768px) {
    .teams__headline-line {
        width: 578px;
        margin-left: auto;
    }
}

@media screen and (max-width: 384px) {
    .teams__headline-line {
        width: 172px;
        margin: auto;
    }
}

.teams__row {
    color: #ffffff;
    display: flex;
    margin-top: 52px;
}

@media screen and (max-width: 768px) {
    .teams__row {
        margin-top: 48px;
        gap: 20px;
    }
}

@media screen and (max-width: 384px) {
    .teams__row {
        flex-wrap: wrap;
        text-align: center;
        align-items: flex-start;
        margin-top: 24px;
        gap: 8px;
    }
}

@media screen and (max-width: 384px) {
    .teams__row-coll {
        width: 172px;
    }
}

.teams__row-title {
    font-size: 104px;
    padding-bottom: 32px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .teams__row-title {
        font-size: 72px;
    }
}

@media screen and (max-width: 384px) {
    .teams__row-title {
        margin-top: 24px;
    }
}

.teams__row-text {
    font-size: 32px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .teams__row-text {
        font-size: 24px;
        align-items: center;
    }
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoMono-Thin.eot");
    src: url("../fonts/RobotoMono-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMono-Thin.woff") format("woff"), url("../fonts/RobotoMono-Thin.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoMono-Light.eot");
    src: url("../fonts/RobotoMono-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMono-Light.woff") format("woff"), url("../fonts/RobotoMono-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoMono-Regular.eot");
    src: url("../fonts/RobotoMono-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMono-Regular.woff") format("woff"), url("../fonts/RobotoMono-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: "Roboto";
}

/*# sourceMappingURL=style.css.map */