html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

input[type=checkbox] {
    transform: scale(2);
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoMono-Thin.eot");
    src: url("../fonts/RobotoMono-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMono-Thin.woff") format("woff"), url("../fonts/RobotoMono-Thin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoMono-Light.eot');
  src: url('../fonts/RobotoMono-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoMono-Light.woff') format('woff'),
  url('../fonts/RobotoMono-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoMono-Regular.eot');
  src: url('../fonts/RobotoMono-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/RobotoMono-Regular.woff') format('woff'),
  url('../fonts/RobotoMono-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
} */
body {
    font-family: "Roboto";
}

.main-BG {
    background-image: url(../images/MainBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 20px;
    }
}

.sectionBG {
    background-image: url(../images/SectionBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section-header {
    display: flex;
    align-items: center;
    gap: clamp(24px, 3vw, 48px);
}

@media screen and (max-width: 384px) {
    .section-header {
        flex-direction: column;
    }
}

.section-header__title {
    font-size: clamp(22px, 2vw, 28px);
    color: #ffffff;
    text-transform: uppercase;
}

.section-header__line {
    flex: 1;
    height: 1px;
    background-color: #ffffff;
}

@media screen and (max-width: 384px) {
    .section-header__line {
        flex: none;
        width: 172px;
    }
}

.section-header_reverse {
    flex-direction: row-reverse;
}

@media screen and (max-width: 384px) {
    .section-header_reverse {
        flex-direction: column;
    }
}

.section-header_reverse-dark {
    flex-direction: row-reverse;
}

@media screen and (max-width: 384px) {
    .section-header_reverse-dark {
        flex-direction: column;
    }
}

.section-header_reverse-dark .section-header__title {
    color: #000000;
}

.section-header_reverse-dark .section-header__line {
    background-color: #000000;
}

@media screen and (max-width: 384px) {
    .section-header_reverse-dark .section-header__line {
        flex: none;
        width: 172px;
    }
}

.header {
    background: rgba(19, 19, 21, 0.5019607843);
    padding: 16px 0px;
}

@media screen and (max-width: 768px) {
    .header {
        background: none;
    }
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 12px;
}

.header__link {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__link-item {
    color: #FFFFFF;
    transition: 0.5s;
}

.header__link-item:hover {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .header__link {
        display: none;
    }
}

.header__phone {
    color: #ffffff;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .header__phone {
        display: none;
    }
}

.header__hamburger {
    display: none;
}

@media screen and (max-width: 768px) {
    .header__hamburger {
        display: block;
    }
}

.main {
    padding-top: 80px;
    padding-bottom: 32px;
}

.main__inform {
    display: flex;
    align-items: center;
}

.main__inform-line {
    position: relative;
    top: -65px;
    width: 317px;
    border-top: 1px solid #ffffff;
}

@media screen and (max-width: 768px) {
    .main__inform-line {
        width: 59px;
        right: 0;
    }
}

@media screen and (max-width: 384px) {
    .main__inform-line {
        width: 59px;
        top: 90px;
    }
}

.main__inform-wrap {
    display: block;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .main__inform-wrap {
        margin-left: -20px;
    }
}

.main__inform-title {
    font-size: clamp(11px, 2vw, 28px);
    font-weight: 300;
    letter-spacing: 0.2em;
}

.main__inform-subtitle {
    font-size: clamp(44px, 6vw, 104px);
    font-weight: 400;
    letter-spacing: 0.25em;
}

.main__description {
    width: 199px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 68px;
}

@media screen and (max-width: 768px) {
    .main__description {
        margin-left: auto;
        font-size: 24px;
    }
}

@media screen and (max-width: 384px) {
    .main__description {
        font-size: 24px;
    }
}

.main__data {
    text-align: right;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .main__data {
        text-align: center;
    }
}

@media screen and (max-width: 384px) {
    .main__data {
        text-align: center;
    }
}

.about {
    position: relative;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    padding-top: 111px;
    padding-bottom: 32px;
    background: rgba(174, 156, 156, 0.2509803922);
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .about {
        padding-top: 81px;
        padding-bottom: 64px;
    }
}

@media screen and (max-width: 384px) {
    .about {
        padding-top: 86px;
    }
}

.about__icon {
    position: absolute;
    bottom: 74px;
    left: 45px;
    filter: blur(5px);
}

@media screen and (max-width: 768px) {
    .about__icon {
        bottom: 131px;
        left: auto;
    }
}

@media screen and (max-width: 384px) {
    .about__icon {
        bottom: 243px;
        left: auto;
    }
}

.about__headline {
    display: flex;
    align-items: center;
    gap: 45px;
    margin-bottom: 15px;
}

@media screen and (max-width: 384px) {
    .about__headline {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 32px;
    }
}

.about__headline-logo {
    height: 90px;
}

@media screen and (max-width: 768px) {
    .about__headline-logo {
        height: 48px;
    }
}

@media screen and (max-width: 384px) {
    .about__headline-logo {
        display: none;
    }
}

.about__headline-line {
    height: 1px;
    width: 223px;
    background-color: #ffffff;
    /*       border-top: 1px solid #ffffff; */
}

@media screen and (max-width: 768px) {
    .about__headline-line {
        width: 160px;
    }
}

@media screen and (max-width: 384px) {
    .about__headline-line {
        width: 172px;
    }
}

.about__headline-title {
    font-size: 48px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 0.2em;
}

@media screen and (max-width: 768px) {
    .about__headline-title {
        font-size: 28px;
    }
}

@media screen and (max-width: 384px) {
    .about__headline-title {
        align-items: center;
        order: -1;
    }
}

.about__content {
    position: relative;
    z-index: 2;
    max-width: 594px;
    margin-left: auto;
}

@media screen and (max-width: 768px) {
    .about__content {
        max-width: 519px;
    }
}

@media screen and (max-width: 384px) {
    .about__content {
        min-width: 352px;
        text-align: center;
    }
}

.about__content-item {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 32px;
    line-height: 1.2;
}

@media screen and (max-width: 768px) {
    .about__content-item {
        font-size: 18px;
        margin-bottom: 24px;
    }
}

.about__content-item:first-child {
    font-size: 30px;
    line-height: 1.4;
}

@media screen and (max-width: 768px) {
    .about__content-item:first-child {
        font-size: 24px;
    }
}

.about__content-item:last-child {
    margin-top: 68px;
    text-align: right;
}

@media screen and (max-width: 768px) {
    .about__content-item:last-child {
        margin-top: 24px;
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    .about__content-item:last-child {
        display: none;
    }
}

.advantages {
    padding-top: 128px;
    padding-bottom: 64px;
}

@media screen and (max-width: 768px) {
    .advantages {
        padding-top: 86px;
        padding-bottom: 64px;
    }
}

@media screen and (max-width: 384px) {
    .advantages {
        padding-bottom: 48px;
    }
}

.advantages__row {
    color: #ffffff;
    display: flex;
    align-items: first baseline;
    flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
    .advantages__row {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 384px) {
    .advantages__row {
        flex-direction: column;
        text-align: center;
    }
}

.advantages__row-coll {
    padding-top: 68px;
}

@media screen and (max-width: 768px) {
    .advantages__row-coll {
        padding-top: 48px;
        width: 344px;
    }
}

@media screen and (max-width: 384px) {
    .advantages__row-coll {
        padding-top: 24px;
    }
}

.advantages__row-title {
    font-size: 32px;
    padding-bottom: 70px;
}

@media screen and (max-width: 768px) {
    .advantages__row-title {
        font-size: 24px;
        padding-bottom: 24px;
    }
}

.advantages__row-text {
    font-size: 20px;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .advantages__row-text {
        font-size: 18px;
    }
}

.integration {
    padding-top: 137px;
    padding-bottom: 128px;
    background-color: #ffffff;
}

@media screen and (max-width: 768px) {
    .integration {
        padding-top: 86px;
        padding-bottom: 81px;
    }
}

@media screen and (max-width: 384px) {
    .integration {
        padding-bottom: 48px;
    }
}

.integration__service {
    display: flex;
    padding-top: 68px;
    gap: 12px;
}

@media screen and (max-width: 768px) {
    .integration__service {
        padding-top: 48px;
        gap: 21px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media screen and (max-width: 384px) {
    .integration__service {
        gap: 8px;
    }
}

@media screen and (max-width: 384px) {
    .integration__service-logo {
        height: 100px;
        width: 172px;
    }
}

.teams {
    padding: 128px 0 128px 0;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

@media screen and (max-width: 768px) {
    .teams {
        padding: 86px 0 64px 0;
    }
}

@media screen and (max-width: 384px) {
    .teams {
        padding: 86px 0 48px 0;
    }
}

.teams__row {
    color: #ffffff;
    display: flex;
    margin-top: 52px;
}

@media screen and (max-width: 768px) {
    .teams__row {
        margin-top: 48px;
        gap: 20px;
    }
}

@media screen and (max-width: 384px) {
    .teams__row {
        flex-wrap: wrap;
        text-align: center;
        align-items: flex-start;
        margin-top: 24px;
        gap: 8px;
    }
}

@media screen and (max-width: 384px) {
    .teams__row-coll {
        width: 172px;
    }
}

.teams__row-title {
    font-size: 104px;
    padding-bottom: 32px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .teams__row-title {
        font-size: 72px;
    }
}

@media screen and (max-width: 384px) {
    .teams__row-title {
        margin-top: 24px;
    }
}

.teams__row-text {
    font-size: 32px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .teams__row-text {
        font-size: 24px;
        align-items: center;
    }
}

.portfolio {
    padding-top: 154px;
    background-color: #ffffff;
}

@media screen and (max-width: 768px) {
    .portfolio {
        padding-top: 86px;
        padding-bottom: 64px;
    }
}

@media screen and (max-width: 384px) {
    .portfolio {
        padding-top: 86px;
    }
}

.portfolio__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 515px;
    margin-top: 50px;
    width: 392px;
}

@media screen and (max-width: 768px) {
    .portfolio__content {
        margin-left: 32px;
        max-height: none;
        width: 704px;
    }
}

@media screen and (max-width: 384px) {
    .portfolio__content {
        width: 352px;
        margin-left: 16px;
    }
}

.portfolio__content-headline {
    font-size: 30px;
    font-weight: 500;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .portfolio__content-headline {
        order: 1;
        font-size: 24px;
    }
}

.portfolio__content-title {
    font-size: 20px;
    font-weight: 500;
    margin-top: 32px;
}

@media screen and (max-width: 768px) {
    .portfolio__content-title {
        order: 3;
        font-size: 18px;
    }
}

@media screen and (max-width: 384px) {
    .portfolio__content-title {
        text-align: center;
    }
}

.portfolio__content-item {
    margin-top: 12px;
}

.portfolio__content-item span {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .portfolio__content-preview {
        order: 2;
        margin-top: 24px;
    }
}

.feedback {
    position: relative;
    padding-top: 137px;
    padding-bottom: 128px;
    color: #ffffff;
    font-size: 20px;
}

.feedback .container {
    position: relative;
    z-index: 2;
}

.feedback__sputnik {
    position: absolute;
    right: 0;
    top: -258px;
}

@media screen and (max-width: 768px) {
    .feedback__sputnik {
        top: -185px;
    }
}

@media screen and (max-width: 384px) {
    .feedback__sputnik {
        top: -120px;
    }
}

.feedback .form {
    padding-top: 68px;
}

.feedback .form__values {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px 0px;
    margin-bottom: 32px;
}

.feedback .form__item {
    display: flex;
    flex-direction: column;
    width: 49%;
}

@media screen and (max-width: 768px) {
    .feedback .form__item:nth-child(1) {
        order: 1;
    }
}

@media screen and (max-width: 384px) {
    .feedback .form__item:nth-child(1) {
        order: 1;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .feedback .form__item:nth-child(2) {
        order: 3;
        width: 100%;
    }
}

@media screen and (max-width: 384px) {
    .feedback .form__item:nth-child(2) {
        order: 2;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .feedback .form__item:nth-child(3) {
        order: 2;
    }
}

@media screen and (max-width: 384px) {
    .feedback .form__item:nth-child(3) {
        order: 3;
        width: 100%;
    }
}

.feedback .form__item-name {
    padding: 16px 0 0 16px;
}

.feedback .form__item-input {
    background-color: transparent;
    border: none;
    border-bottom: 4px solid #ffffff;
    height: 48px;
    color: #ffffff;
    font-size: 25px;
}

.feedback .form__item-check {
    display: block;
    margin-bottom: 32px;
}

.feedback .form__item-link {
    text-decoration: underline;
    color: #ffffff;
}

.feedback .form__item-submit {
    display: block;
    margin: 0 auto;
    width: 584px;
    height: 48px;
    color: #ffffff;
    background-color: #7758B7;
}

@media screen and (max-width: 768px) {
    .feedback .form__item-submit {
        width: 704px;
    }
}

@media screen and (max-width: 384px) {
    .feedback .form__item-submit {
        width: 352px;
    }
}

.feedback__wrapper {
    position: absolute;
    background: rgba(0, 0, 0, 0.5019607843);
    -webkit-backdrop-filter: blur 5px;
    backdrop-filter: blur 5px;
    inset: 0;
}

/*# sourceMappingURL=style.css.map */