.advantages {
  padding-top: 128px;
  padding-bottom: 64px;

  @media screen and (max-width:768px) {
    padding-top: 86px;
    padding-bottom: 64px;
 }

 @media screen and (max-width:384px) {
  padding-bottom: 48px;
}
  
  &__row {
    color: #ffffff;
    display: flex;
    align-items: first baseline;
    flex-wrap: nowrap;

    @media screen and (max-width:768px) {
      flex-wrap: wrap;
      justify-content: center;

   }
   
    @media screen and (max-width:384px) {
     flex-direction: column;
     text-align: center;
   }

    &-coll {
      padding-top: 68px;

      @media screen and (max-width:768px) {
        padding-top: 48px; 
        width: 344px;
     }

     @media screen and (max-width:384px) {
      padding-top: 24px; 
     }
    }

    &-title {
      font-size: 32px;
      padding-bottom: 70px; 

      @media screen and (max-width:768px) {
        font-size: 24px;
        padding-bottom: 24px; 
     }

     @media screen and (max-width:384px) {

     }
    }

    &-text {
      font-size: 20px;
      display: inline-block;

      @media screen and (max-width:768px) {
        font-size: 18px;
     }

     @media screen and (max-width:384px) {

     }
    }

  }

}
 