.main-BG {
  background-image:url(../images/MainBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
  
.container {
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width:768px) {
    padding: 0 20px;
  }
}
  
.sectionBG {
  background-image:url(../images/SectionBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 }

 .section-header {
  display: flex;
  align-items: center;
  gap: clamp(24px, 3vw, 48px);

  @media screen and (max-width:384px) {
    flex-direction: column;
  }

  &__title {
    font-size: clamp(22px, 2vw, 28px);
    color: #ffffff;
    text-transform: uppercase;
  }

  &__line {
    flex: 1;
    height: 1px;
    background-color: #ffffff;

    @media screen and (max-width:384px) {
      flex: none;
      width: 172px;
    }
  }

  &_reverse {
    flex-direction: row-reverse;

    @media screen and (max-width:384px) {
      flex-direction: column;
    }
  }

  &_reverse-dark {
    flex-direction: row-reverse;
  
    @media screen and (max-width:384px) {
      flex-direction: column;
    }

    .section-header__title {
      color: #000000;
    }

    .section-header__line {
      background-color: #000000;
      
    @media screen and (max-width:384px) {
      flex: none;
      width: 172px;
    }
    }

  }
 }


