.integration {
  padding-top: 137px;
  padding-bottom: 128px;
  background-color: #ffffff;

  @media screen and (max-width:768px) {
    padding-top: 86px;
    padding-bottom: 81px;
  }

  @media screen and (max-width:384px) {
    padding-bottom: 48px;
  }
     
  &__service {
    display: flex;
    padding-top: 68px;
    gap: 12px;

    @media screen and (max-width:768px) {
      padding-top: 48px;
      gap: 21px;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @media screen and (max-width:384px) {
      gap: 8px;
    }

    &-logo {
  
      @media screen and (max-width:384px) {
        height: 100px;
        width: 172px;
      }
    }
  }
}