.main {
  padding-top: 80px;
  padding-bottom: 32px;

  &__inform { 
    display: flex;
    align-items: center;

    &-preview {

  }
   
    &-line {
      position: relative;
      top: -65px;
      width: 317px; 
      border-top: 1px solid #ffffff;

      @media screen and (max-width:768px) {
        width: 59px;
        right: 0;
      }

      @media screen and (max-width:384px) {
        width: 59px;
        top: 90px;
      }

    }
       
    &-wrap {
      display: block;
      color: $primery-red;
    
      @media screen and (max-width:768px) {
       margin-left: -20px;
      }
    }
    
    &-title {
      font-size: clamp(11px, 2vw, 28px);
      font-weight: 300;
      letter-spacing: 0.2em;
    }

    &-subtitle {
      font-size: clamp(44px, 6vw, 104px);
      font-weight: 400;
      letter-spacing: 0.25em;
    }
  }

  &__description {
    width: 199px; 
    font-size: 30px;
    color: $primery-red;
    font-weight: 500;
    margin-bottom: 68px;

    @media screen and (max-width:768px) {
      margin-left: auto;
      font-size: 24px;
   }
   
   @media screen and (max-width:384px) {
    font-size: 24px;
 }
  }

  &__data {
    text-align: right;
    color: $primery-red;
    font-size: 20px;
    font-weight: 600;

    @media screen and (max-width:768px) {
      text-align: center;
   }

   @media screen and (max-width:384px) {
    text-align: center;
 }
  }

}