.map {
  position: relative;
  background-image:url(../images/footerBG.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 128px;
  padding-bottom: clamp(192px, 19vw, 349px);

  @media screen and (max-width:768px) {
    padding-bottom: 192px;
  }
  
  &__navigator {
    position: relative;
    margin-top: 36px;
    width: 100%;
    height: clamp(360px, 35vw, 658px);
    
    @media screen and (max-width:768px) {
      height: 368px;
    }
  }
  
  &__preview {
    position: absolute;
    bottom: -192px;
    left: 0;
    right: 0;
    width: 100%;
    
    @media screen and (max-width:768px) {
      bottom: -5px;
    }
  }
}