.teams{
  padding: 128px 0 128px 0;
  backdrop-filter: blur(4px);

  @media screen and (max-width:768px) {
    padding: 86px 0 64px 0;
  }

  @media screen and (max-width:384px) {
    padding: 86px 0 48px 0;

  }
  
  &__row {
    color: #ffffff;
    display: flex;
    margin-top: 52px;

    @media screen and (max-width:768px) {
      margin-top: 48px;
      gap: 20px;
     }
 
   @media screen and (max-width:384px) {
    flex-wrap: wrap;
    text-align: center;
    align-items: flex-start;
    margin-top: 24px;
    gap: 8px;
   }

    &-coll {

     @media screen and (max-width:384px) {
      width: 172px;

    }
  }

    &-title {
      font-size: 104px;
      padding-bottom: 32px; 
      text-align: center;

      @media screen and (max-width:768px) {
        font-size: 72px;
     }

     @media screen and (max-width:384px) {
      margin-top: 24px;
    }
    }

    &-text {
      font-size: 32px;
      text-align: center;

      @media screen and (max-width:768px) {
        font-size: 24px;
        align-items: center;
     }
    }
  }
  }
