.main {
  padding: 80px 0 32px 0;

  &__inform { 
    display: flex;
    align-items: center;

    &-line {
      position: relative;
      top: -65px;
      width: 317px; 
      border-top: 1px solid #ffffff;
    }
       
    &-wrap {
      display: block;
      color: #ffffff;
      font-size: 28px;
    }
    
    &-title {
      font-weight: 300;
    }

    &-subtitle {
      font-size: 104px;
      font-weight: 400;
    }
  }

  &__description {
    width: 199px; 
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
  }

  &__data {
    text-align: right;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
  }

}